/*Colores*/
$Rosat: #ffc3c3dc;
$Rosaf: #ffc3c3;
$Rosa: #ffdcdc;
$Blanco: #f2f0ed;
$Negro: #0d0d0d;
$Gris: #bebebe;
$Dorado: #D4AF37;
$Rojot: #861720aa;
$Rojo: #861720;
$Amarillo: #f4d62a;
$Amarillo2: #f8d15f;
$Transparente: rgba(255, 255, 255, 0);
$Morado: #660066;
$Morado2: #300047;
$Morado3: #190024;
//Default
$Primario: #ae99c3;
$Secundario: #816b96;

/*Tipos de letra*/
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
//$Letra:;
//$Letra2:;