@import "animaciones";
@import "carga";
@import "cursor";
@import "variables";
html {
    scroll-behavior: smooth;
    overflow: hidden;
}
body {
    scroll-behavior: smooth;
    overflow: hidden;
    display: flex;
    background-color: $Primario;
    #particles-js {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: -100;
    }
    #container {
        display: flex;
        #fixed {
            width: 97%;
            margin: 1.5%;
            position: fixed;
            display: flex;
            justify-content: space-between;
            a {
                color: $Blanco;
                font-size: 2rem;
            }
        }
        .modalDialog {
            position: fixed;
            font-family: Arial, Helvetica, sans-serif;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.8);
            z-index: 99999;
            opacity:0;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
            pointer-events: none;
        }
        .modalDialog:target {
            opacity:1;
            pointer-events: auto;
        }
        .modalDialog > div {
            width: 500px;
            height: 300px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: $Blanco;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
          -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        }
        .close {
            background: #606061;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
        }
        .close:hover { background: $Secundario; }
        #openModal {
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: $Primario;
                border: 2px solid $Blanco;
                h2 {
                    color: $Blanco;
                }
                .redes {
                    margin: 5% 0;
                    padding: 2% 20%;
                    border-radius: 10rem;
                    background-color: $Secundario;
                    text-decoration: none;
                    color: $Blanco;
                }
            }
        }
        .P {
            width: 100vw;
            height: 100vh;
            .box {
                width: 100%;
                height: 100%;
            }
            .boxm {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .margen1 {
                    width: 97.5%;
                    height: 97%;
                    border: solid 3px $Blanco;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .C1 {
                        width: 22rem;
                        height: 25rem;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    h2 {
                        font-family: 'Abril Fatface', cursive;
                        font-size: 250%;
                        color: $Blanco;
                    }
                    a {
                        font-family: 'Chonburi', cursive;
                        font-size: 90%;
                        text-decoration: none;
                        padding: 1% 2%;
                        color: $Blanco;
                        border-radius: 10rem;
                        background-color: $Secundario;
                    }
                }
            }
            .boxm2 {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .margen2 {
                    width: 97.5%;
                    height: 97%;
                    margin-top: 0%;
                    border: solid 4px $Blanco;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    ul {
                        width: 40%;
                        color: $Blanco;
                        text-align: center;
                        padding: 0;
                        li {
                            text-align: start;
                        }
                    }
                }
            }
        }
        #P1 {
            .box {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                img {
                    width: 25%;
                    border-radius: 100%;
                }
                a {
                    border-radius: 30px;
                    font-size: 90%;
                    background-color: $Secundario;
                    padding: 1.3% 7%;
                    color: $Blanco;
                    text-decoration: none;
                }
            }
        }
        #P2 {
            .box {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    .text1 {
                        width: 70%;
                        background-color: transparent;
                        b {
                            font-size: 350%;
                            color: $Blanco;
                            font-family: 'Anton', sans-serif;
                        }
                        p {
                            font-size: 150%;
                            color: $Blanco;
                            font-family: 'Gruppo', cursive;
                        }
                    }
                    a {
                        width: 65%;
                        height: 65%;
                        div {
                            width: 100%;
                            height: 100%;
                            background-color: $Blanco;
                            img {
                                width: 95%;
                                height: 95%;
                            }
                        }
                    }
                    div {
                        background-color: $Blanco;
                    }
                    h2 {
                        color: $Blanco;
                    }
                    h3 {
                        font-size: 85%;
                        font-family: 'Abril Fatface', cursive;
                        color: $Blanco;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 500px) {
        #container {
            #fixed {
                width: 90%;
                margin: 5% 5%;
                justify-content: space-between;
                a {
                    font-size: 1.5rem;
                }
            }
            .modalDialog > div {
                width: 300px;
                height: 500px;
            }
            .P {
                .boxm {
                    .margen1 {
                        width: 96%;
                        height: 98%;
                        .C1 {
                            width: 10rem;
                            height: 13rem;
                        }
                        h2 {
                            font-size: 150%;
                        }
                        a {
                            font-size: 50%;
                            padding: 2.6% 7%;
                        }
                    }
                }
                .boxm2 {
                    .margen2 {
                        width: 96%;
                        height: 98%;
                        ul {
                            width: 80%;
                            font-size: 70%;
                            li {
                                text-align: center;
                            }
                        }
                    }
                }
            }
            #P1 {
                .box {
                    justify-content: center;
                    img {
                        width: 80%;
                    }
                    a {
                        margin-top: 7%;
                        font-size: 80%;
                        padding: 5% 10%;
                    }
                }
            }
            #P2 {
                display: flex;
                align-items: center;
                .box {
                    grid-template-columns: repeat(2,1fr);
                    height:85%;
                    div {
                        .text1 {
                            width: 70%;
                            b {
                                font-size: 200%;
                            }
                            p {
                                font-size: 100%;
                            }
                        }
                        a {
                            width: 80%;
                            height: 8rem;
                        }
                    }
                }
            }
        }
    }
}